@import '../../styles/variables.scss',
'../../styles/mixins.scss';
body.luck {
	background: no-repeat bottom/100% url('../../assets/luck-draw/bg.png') map-get($color, 100) fixed;
}

.luck-draw-swiper {
	width: 100%;
	.luck-draw-swiper-slide {
		width: 100%;
		img {
			width: 100%;
			vertical-align: bottom;
		}
	}
	.swiper-pagination.luck-draw {
		bottom: .02666667rem;
		pointer-events: none;
		.swiper-pagination-bullet {
			width: .16rem;
			height: .16rem;
			pointer-events: auto;
			background-color: map-get($color, 200);
		}
	}
}

.luck-draw-box {
	width: 100vw;
	a {
		@include fontSize(14px);
	}
	.icon-img {
		font-style: normal;
		display: inline-block;
		width: 24px;
		height: 24px;
		pointer-events: none;
		img {
			width: 100%;
			height: 100%;
			vertical-align: bottom;
			pointer-events: auto;
		}
	}
	section {
		width: 100vw;
		padding: .8rem 0 .4rem 0;
		text-align: center;
		h4 {
			@include fontSize(20px);
			font-weight: 600;
			margin: 0;
			padding: 0;
			text-align: center;
			color: map-get($color, 300);
		}
		h2 {
			@include fontSize(22px);
			font-weight: normal;
			margin: 0;
			padding: 0;
			padding: .16rem;
			text-align: center;
			letter-spacing: 1px;
			color: map-get($color, 300);
			em {
				font-style: normal;
			}
		}
		h5 {
			@include fontSize(16px);
			font-weight: normal;
			margin: 0;
			padding: 0;
			text-align: center;
			color: #fff;
			i {
				margin: 0 .06666667rem;
			}
		}
		.lucky-list {
			@include flexLayout(flex,
			'normal',
			'justify');
			width: 90vw;
			margin: 6vw auto;
			.lucky-li {
				-webkit-box-flex: 0;
				-webkit-flex: 0 0 25%;
				-moz-box-flex: 0;
				-ms-flex: 0 0 25%;
				flex: 0 0 25%;
				.img-box {
					position: relative;
					overflow: hidden;
					width: 70%;
					margin: 0 auto;
					padding: 35% 0;
					-webkit-border-radius: 100%;
					-moz-border-radius: 100%;
					border-radius: 100%;
					img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
				.text {
					@include fontSize(14px);
					padding: .08rem 0;
					text-align: center;
					word-break: break-all;
					color: map-get($color, 200);
				}
			}
		}
		p {
			@include fontSize(16px);
			margin: 0;
			text-align: left;
			color: map-get($color, 200);
			em {
				font-style: normal;
				margin: 0 .04rem;
				color: map-get($color, 300);
			}
			i {
				margin: 0 .08rem;
			}
		}
		.single-p,
		.space-box {
			width: 90vw;
			margin: .4rem auto;
		}
		.space-box {
			@include flexLayout(flex,
			'center',
			'justify');
			.space-btn {
				position: relative;
				padding: 0 12px 0 0;
				.button-text {
					@include fontSize(16px);
					padding: 0;
					color: map-get($color, 200);
				}
				&::after {
					position: absolute;
					z-index: 2;
					top: 50%;
					right: 0;
					display: block;
					width: .16rem;
					height: .16rem;
					margin-top: -.05333333rem;
					content: '';
					-webkit-transform: rotate(-135deg);
					-moz-transform: rotate(-135deg);
					-ms-transform: rotate(-135deg);
					transform: rotate(-135deg);
					pointer-events: none;
					border-bottom: .02666667rem solid map-get($color, 200);
					border-left: .02666667rem solid map-get($color, 200);
				}
			}
			.ordinary-btn {
				padding: .16rem .32rem;
				border: .02666667rem solid map-get($color, 200);
				-webkit-border-radius: .10666667rem;
				-moz-border-radius: .10666667rem;
				border-radius: .10666667rem;
				.button-text {
					@include fontSize(14px);
					padding: 0;
					color: map-get($color, 200);
				}
			}
			&.has-margin {
				margin-top: 10vw;
			}
		}
		.play-btn {
			margin-top: 5vw;
			padding: .24rem 20vw;
			-webkit-border-radius: .10666667rem;
			-moz-border-radius: .10666667rem;
			border-radius: .10666667rem;
			background-color: map-get($color, 300);
			&:disabled{
				background-color: map-get($color,400);
			}
			.button-text {
				@include fontSize(18px);
				padding: 0;
				color: map-get($color, 100);
			}
		}
		.open-prize{
			h2{
				padding: .56rem 0;
			}
			h5{
				padding: .56rem 0 0;
			}
		}
	}
}

.ask-modal.luck-state-0 {
	width: 70%;
	min-height: .4rem;
	.ask-alert-box {
		padding-top: .26666667rem;
		text-align: center;
		color: map-get($color, 100);
	}
	.ask-modal-footer {
		padding: .53333333rem 0 .26666667rem;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		.ask-alert-btn {
			width: 2.66666667rem;
			color: map-get($color, 100);
			-webkit-border-radius: .53333333rem;
			-moz-border-radius: .53333333rem;
			border-radius: .53333333rem;
			background-color: map-get($color, 300);
		}
	}
}
