@import '../../styles/variables.scss', '../../styles/mixins.scss';
.luck-draw-swiper {
	width: 100%;
	.luck-draw-swiper-slide {
		width: 100%;
		img {
			width: 100%;
			vertical-align: bottom;
		}
	}
	.swiper-pagination.luck-draw {
		bottom: 2px;
		pointer-events: none;
		.swiper-pagination-bullet {
			width: 6px;
			height: 6px;
			pointer-events: auto;
			background-color: map-get($color, 200);
		}
	}
}

.luck-draw-box {
	width: 100vw;
	a {
		font-size: 1.4rem;
	}
	.icon-img {
		font-style: normal;
		display: inline-block;
		width: 24px;
		height: 24px;
		pointer-events: none;
		img {
			width: 100%;
			height: 100%;
			vertical-align: bottom;
			pointer-events: auto;
		}
	}
	section {
		width: 100vw;
		padding: 30px 0 15px 0;
		text-align: center;
		h4 {
			font-size: 2rem;
			font-weight: 600;
			margin: 0;
			padding: 0;
			text-align: center;
			color: map-get($color, 300);
		}
		h1 {
			font-size: 2rem;
			font-weight: normal;
			margin: 15vw 0;
			padding: 0;
			text-align: center;
			color: map-get($color, 200);
		}
		h2 {
			font-size: 2.2rem;
			font-weight: normal;
			margin: 0;
			padding: 0;
			padding: 6px;
			text-align: center;
			letter-spacing: 1px;
			color: map-get($color, 300);
			em {
				font-style: normal;
			}
		}
		h5 {
			font-size: 1.6rem;
			font-weight: normal;
			margin: 0;
			padding: 0;
			text-align: center;
			color: map-get($color, 200);
			i {
				margin: 5px;
				cursor: pointer;
			}
		}
		.lucky-list {
			@include flexLayout(flex, 'normal', 'justify');
			width: 90vw;
			margin: 6vw auto;
			.lucky-li {
				-webkit-box-flex: 0;
				-webkit-flex: 0 0 25%;
				-moz-box-flex: 0;
				-ms-flex: 0 0 25%;
				flex: 0 0 25%;
				width: 25%;
				.img-box {
					position: relative;
					overflow: hidden;
					width: 70%;
					margin: 0 auto;
					padding: 35% 0;
					-webkit-border-radius: 100%;
					-moz-border-radius: 100%;
					border-radius: 100%;
					img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
				.text {
					width: 100%;
					@include textEllipsis();
					font-size: 1.4rem;
					padding: 3px 0;
					text-align: center;
					word-break: break-all;
					color: map-get($color, 200);
				}
			}
		}
		p {
			font-size: 1.6rem;
			margin: 0;
			text-align: left;
			color: map-get($color, 200);
			em {
				font-style: normal;
				margin: 0 3px;
				color: map-get($color, 300);
			}
			i {
				margin: 0 6px;
				cursor: pointer;
			}
		}
		.single-p, .space-box {
			width: 90vw;
			margin: 15px auto;
		}
		.space-box {
			@include flexLayout(flex, 'center', 'justify');
			.space-btn {
				position: relative;
				padding: 0 12px 0 0;
				.button-text {
					font-size: 1.6rem;
					padding: 0;
					color: map-get($color, 200);
				}
				&::after {
					position: absolute;
					z-index: 2;
					top: 50%;
					right: 0;
					display: block;
					width: 8px;
					height: 8px;
					margin-top: -3px;
					content: '';
					-webkit-transform: rotate(-135deg);
					-moz-transform: rotate(-135deg);
					-ms-transform: rotate(-135deg);
					transform: rotate(-135deg);
					pointer-events: none;
					border-bottom: 1px solid map-get($color, 200);
					border-left: 1px solid map-get($color, 200);
				}
			}
			.ordinary-btn {
				padding: 6px 12px;
				border: 1px solid map-get($color, 200);
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				.button-text {
					font-size: 1.4rem;
					padding: 0;
					color: map-get($color, 200);
				}
			}
			&.has-margin {
				margin-top: 10vw;
			}
			&.open-prize-num {
				margin-top: 0;
				-webkit-box-pack: end;
				-webkit-justify-content: flex-end;
				-moz-box-pack: end;
				-ms-flex-pack: end;
				justify-content: flex-end;
			}
		}
		.play-btn {
			margin-top: 5vw;
			padding: 9px 20vw;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color: map-get($color, 300);
			&:disabled {
				border: 1px solid map-get($color, 200);
				background-color: transparent;
				.button-text {
					color: map-get($color, 200);
				}
			}
			.button-text {
				font-size: 1.8rem;
				padding: 0;
				color: map-get($color, 100);
			}
		}
		.open-prize {
			h2 {
				padding: 20px 0;
			}
			h5 {
				padding: 20px 0 0;
			}
		}
	}
	.luck-draw-lottery {
		.lottery-pic-bg {
			width: 295px;
			height: 171px;
		}
		.lottery-body {
			.lottery-group {
				line-height: 49px;
				width: 60px;
				height: 48px;
				.number-box ul li {
					width: 60px;
					height: 48px;
				}
			}
		}
		.lottery-voice {
			width: 40px;
			height: 30px;
		}
	}
}

.ask-modal.luck-number {
	width: 100%;
	max-width: 375px;
	/* 750px*/
	height: 70%;
	max-height: 516px;
	/* 1032px*/
	pointer-events: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	.ask-modal-body, .custom {
		width: 100%;
		height: 100%;
	}
	.luck-number-body {
		width: 100%;
		height: 100%;
		.luck-number-bg {
			position: relative;
			z-index: 2;
			width: 100%;
			height: 100%;
			background: no-repeat center/100% url('../../assets/luck-draw/luck-number/bg.png') transparent;
			.luck-number-result {
				position: relative;
				z-index: 5;
				top: 50%;
				width: 100%;
				height: 35%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				background: no-repeat center/auto 100% url('../../assets/luck-draw/luck-number/0.png') transparent;
				&.num-0 {
					background: no-repeat center/auto 100% url('../../assets/luck-draw/luck-number/0.png') transparent;
				}
				&.num-1 {
					background: no-repeat center/auto 100% url('../../assets/luck-draw/luck-number/1.png') transparent;
				}
				&.num-2 {
					background: no-repeat center/auto 100% url('../../assets/luck-draw/luck-number/2.png') transparent;
				}
				&.num-3 {
					background: no-repeat center/auto 100% url('../../assets/luck-draw/luck-number/3.png') transparent;
				}
				&.num-4 {
					background: no-repeat center/auto 100% url('../../assets/luck-draw/luck-number/4.png') transparent;
				}
				&.num-5 {
					background: no-repeat center/auto 100% url('../../assets/luck-draw/luck-number/5.png') transparent;
				}
				&.num-6 {
					background: no-repeat center/auto 100% url('../../assets/luck-draw/luck-number/6.png') transparent;
				}
				&.num-7 {
					background: no-repeat center/auto 100% url('../../assets/luck-draw/luck-number/7.png') transparent;
				}
				&.num-8 {
					background: no-repeat center/auto 100% url('../../assets/luck-draw/luck-number/8.png') transparent;
				}
				&.num-9 {
					background: no-repeat center/auto 100% url('../../assets/luck-draw/luck-number/9.png') transparent;
				}
			}
		}
	}
}

.ask-modal.luck-winner-box {
	width: 70%;
	min-height: 30px;
	padding: 0;
	.ask-modal-header {
		padding: 0;
		.ask-close-icon {
			right: -5px;
			/* 10px*/
			overflow: hidden;
			width: 20px;
			height: 20px;
			margin-top: -5px;
			/* 10px*/
			border: 1px solid map-get($color, 500);
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			background-color: map-get($color, 200);
			&::before, &::after {
				left: 10%;
				width: 80%;
			}
		}
	}
	.ask-modal-body {
		padding: 0;
		.winner-header {
			width: 100%;
			img {
				width: 100%;
				vertical-align: bottom;
			}
		}
		.winner-body {
			padding: 12px 0 15px;
			h3 {
				font-size: 1.6rem;
				font-weight: normal;
				line-height: 2rem;
				margin: 8px 0;
				text-align: center;
				word-break: break-all;
				color: map-get($color, 100);
			}
			p {
				font-size: 1.2rem;
				line-height: 1.6rem;
				margin: 24px 0;
				padding: 0 20px;
				color: map-get($color, 600);
			}
			&.yes {
				padding: 12px 0 0;
			}
		}
	}
	.ask-modal-footer {
		padding: 0 15px 15px;
		.ask-alert-btn {
			padding: 3px 12px;
			color: map-get($color, 100);
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			background-color: map-get($color, 300);
			.button-text {
				font-size: 1.4rem;
			}
		}
	}
}

.ask-modal.luck-state-0 {
	width: 70%;
	min-height: 30px;
	.ask-modal-header {
		padding: 0;
	}
	.ask-alert-box {
		padding-top: 16px;
		text-align: center;
		color: map-get($color, 100);
	}
	.ask-modal-footer {
		padding: 20px 0 10px;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		.ask-alert-btn {
			width: 80px;
			padding: 4px 10px;
			color: map-get($color, 100);
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			background-color: map-get($color, 300);
		}
	}
}
