@import './variables.scss', './mixins.scss';
@charset 'UTF-8';
@font-face {
	font-family: 'dqjt';
	src: url($baseUrl+'font/dqjt.eot');
	src: url($baseUrl+'font/dqjt.eot?#font-spider') format('embedded-opentype'), 
		url($baseUrl+'font/dqjt.woff') format('woff'), 
		url($baseUrl+'font/dqjt.ttf') format('truetype'), 
		url($baseUrl+'font/dqjt.svg') format('svg');
}

html {
	font-family: 'dqjt', 'Microsoft YaHei', Monospace, Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #f7f7f7;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

body.luck {
	background: no-repeat bottom url($baseUrl+'/luck-draw/bg.png') map-get($color, 100) fixed;
	background-size: 100% auto;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ask-modal.luck-rule-box {
	width: 70%;
	min-height: 30px;
	padding: 0;
	border-radius: 4px;
	.ask-modal-header {
		padding: 26px 0;
		text-align: center;
		.ask-modal-title {
			font-size: 1.8rem;
			width: 100%;
			color: map-get($color, 100);
		}
		.ask-close-icon {
			right: -5px;
			overflow: hidden;
			width: 20px;
			height: 20px;
			margin-top: -5px;
			border: 1px solid map-get($color, 500);
			border-radius: 50%;
			background-color: map-get($color, 200);
			&::before, &::after {
				left: 10%;
				width: 80%;
			}
		}
	}
	.ask-modal-body {
		padding: 0;
		.rule-body {
			padding: 0;
			p {
				font-size: 1.4rem;
				line-height: 2rem;
				margin: 0 0 15px;
				padding: 0 20px;
				text-indent: 2em;
				color: map-get($color, 400M);
			}
		}
	}
	.ask-modal-footer {
		padding: 0 15px 15px;
		.ask-alert-btn {
			padding: 4px 14px;
			color: map-get($color, 100);
			border-radius: 20px;
			background-color: map-get($color, 300);
			.button-text {
				font-size: 1.2rem;
			}
		}
	}
}
