@import './variables.scss', './mixins.scss';
$url: '../assets/';
@charset 'UTF-8';
@font-face {
	font-family: 'dqjt';
	src: url($url+'font/dqjt.eot');
	src: url($url+'font/dqjt.eot?#font-spider') format('embedded-opentype'), url($url+'font/dqjt.woff') format('woff'), url($url+'font/dqjt.ttf') format('truetype'), url($url+'font/dqjt.svg') format('svg');
}

html {
	font-family: 'dqjt', 'Microsoft YaHei', Monospace, Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 75px;
}

body {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #f7f7f7;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

body.luck {
	background: no-repeat bottom/100% url('../assets/luck-draw/bg.png') map-get($color, 100) fixed;
}

.iconfont{
	@include fontSize(16px);
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.ask-modal.luck-rule-box{
	width: 70%;
	min-height: .4rem;
	padding: 0;
	-webkit-border-radius: .10666667rem;
	   -moz-border-radius: .10666667rem;
	        border-radius: .10666667rem;
	.ask-modal-header{
		padding: .72rem 0;
		text-align: center;
		.ask-modal-title{
			color: map-get($color, 100);
				@include fontSize(18px);
				width: 100%;
		}
		.ask-close-icon{
			border: .01333333rem solid map-get($color, 500); /* 1px*/
			-webkit-border-radius: 50%;
			   -moz-border-radius: 50%;
			        border-radius: 50%;
			overflow: hidden;
			width: .53333333rem; /* 40px*/
			height: .53333333rem; /* 40px*/
			background-color: map-get($color, 200);
			margin-top: -.13333333rem; /* 10px*/
			right: -.13333333rem; /* 10px*/
			&::before,
			&::after{
				width: 80%;
				left: 10%;
			}
		}
	}
	.ask-modal-body{
		padding: 0;
		.rule-body{
			padding: 0;
			p{
				@include fontSize(14px);
				@include lineHeight(20px);
				color:map-get($color, 400M);
				margin: 0 0 .4rem;
				padding: 0 .53333333rem; /* 40px*/
				text-indent: 2em;
			}
		}
	}
	.ask-modal-footer{
		padding: 0 .4rem .4rem;
		.ask-alert-btn{
			color: map-get($color, 100);
			-webkit-border-radius: .53333333rem;
			-moz-border-radius: .53333333rem;
			border-radius: .53333333rem;
			background-color: map-get($color, 300);
			padding: .08rem .32rem;
			.button-text{
				@include fontSize(12px);
			}
		}
	}
}